/node_modules
/Dockerfile
/kafka
/mysqlrouter.env
/smartdev.env
/mysql1data
/mysql2data
/mysql3data
/mysqlconfig
/nginx
.vscode
/docker/LB_Server1/
/docker/LB_Server2/
/docker/mysql2
/docker/mysql3
/docker/mysqlcluster/
/docker/mysqlrouter111/
/docker/mysqlrouter222/
/kafkasinkconnector
/nginx/keepalived/keepalived1/vip1.sh
/nginx/keepalived/keepalived2/vip2.sh
/nginx/startnginx.sh
/zookeeper/zookeeper1/data/version-2/
/zookeeper/zookeeper1/datalog/version-2/
/zookeeper/zookeeper2/
/zookeeper/zookeeper3/
/zookeeper/zookeeper4/
/zookeeper/zookeeper5/
/mysqld.service
